# virtual environments
venv

# Migrations
migrations

# Database files
/db/

# Python files
__pycache__

# Python Notebook dot files
.ipynb*

# Secret environment settings
#*.env
#env

# Node and Webpack files
node_modules
npm-debug.log
webpack-stats*

# Static assests
staticfiles
static_cdn
media_cdn

# Ignore sqlite
db.sqlite3


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*


.idea
Pipfile.lock
frontend/static/builds/
package-lock.json
backend/socket/
frontend/src/public/media/
frontend/static/builds-development/favicon.ico
frontend/static/builds-development/index.json
gitlab-ci.yml
