PIPENV_VERBOSITY=-1

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pillow = "*"
djangorestframework = "*"
djangorestframework-jwt = "*"
psycopg2-binary = "*"
django = "==2.2.4"
dj-database-url = "*"
whitenoise = "*"
python-decouple = "*"
django-webpack-loader = "*"
gunicorn = "*"
django-cors-headers = "*"
uwsgi = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"

[dev-packages]
django-debug-toolbar = "*"
flake8 = "*"

[requires]
python_version = "3.7"
