.login-form-wrapper, .signup-form-wrapper {
  text-align: center;
}

.login-form {
  display: inline-block;
}

.signup-form {
  display: inline-block;
}


.login-form-forgot {
  float: right;
}

.login-form-rememberme {
  float: left;
}

