/* ==================================== */
/* LOGIN AND SIGNUP FORM */
/* ==================================== */

.login-form-wrapper,
.signup-form-wrapper {
  text-align: center;
}

.login-form {
  display: inline-block;
}

.signup-form {
  display: inline-block;
}


.login-form-forgot {
  float: right;
}

.login-form-rememberme {
  float: left;
}

/* ==================================== */
/* ADD PROJECT FORM */
/* ==================================== */

.add-delete-update-project-form {
}

.add-delete-update-project-form-label-active,
.add-delete-update-project-form-switch-active {

}
